[submodule "rectpack2D"]
	path = modules/3rd-party/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
[submodule "modules/acul"]
	path = modules/acul
	url = ../acul.git
[submodule "cmake"]
	path = cmake
	url = ../acbt.git
[submodule "modules/amal"]
	path = modules/amal
	url = ../amal.git
