[submodule "rectpack2D"]
	path = modules/3rd-party/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
[submodule "modules/acul"]
	path = modules/acul
	url = git@git.dev.lan:app3d/acul.git
[submodule "cmake"]
	path = cmake
	url = git@git.dev.lan:app3d/acbt.git
